---
import clsx from "clsx";

const {bordered, hoverable} = Astro.props;
---

{hoverable ? (
  <div class="button-border">
    <button class="hoverable bg-indigo-600 p-2 text-white cursor-pointer">This is button!</button>
  </div>
) : (
  <button class={clsx("bg-indigo-600 p-2 text-white hover:bg-indigo-800 cursor-pointer", {bordered})}>This is button!</button>
)}

<style>
  button {
    &.bordered {
      position: relative;
      border-radius: 10px;
      &::after, &::before {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        background-image: conic-gradient(from var(--angle), transparent 80%, orange);
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        border-radius: 10px;
        padding: 2px;
        z-index: -1;
        animation: 3s spin linear infinite;
        box-sizing: content-box;
      }
    }
    
  }
  .button-border {
    background: linear-gradient(115deg, #ff9900, #71b7e6);
    padding: 2px;

    &:hover {
      background: linear-gradient(-115deg, #ff9900, #71b7e6);
      button {
        padding: 1.1em 1.6em;
      }
    }
    button {
      padding: 1em 1.5em;
    }
  }
</style>