---
import clsx from 'clsx';
const {mono, rainbow} = Astro.props;
---

<div class={clsx("card", {mono, rainbow})}>
  <h3>Card title</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum numquam perferendis asperiores dolorum voluptas ad minus possimus mollitia? Consequuntur, possimus perferendis? Illum corrupti et consequuntur temporibus assumenda laborum unde dolorem.
  Officia, voluptatibus nulla debitis nostrum accusamus dignissimos enim quae amet aut possimus eaque soluta ullam eius placeat facilis veniam velit earum nihil eligendi iste est porro esse atque ad? Harum!
  Iusto, maiores qui omnis consequatur, harum aspernatur architecto voluptate delectus cum quasi accusantium a libero officiis officia earum deleniti nisi sunt voluptatum quidem dolorum neque quos suscipit voluptas. Cumque, similique!
  Expedita quae consequatur iure assumenda, in libero unde quam modi placeat debitis voluptas ullam, veritatis dignissimos officia beatae corrupti optio consequuntur asperiores dicta. Harum, deleniti saepe. Ipsa earum fugit harum?</p>
</div>

<style>
  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }

  .card {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 10px;
    width: clamp(300px, 100%, 400px);
    position: relative;
    background: rgb(112, 88, 88);
    &.mono {
      :after, &::before {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        background-image: conic-gradient(from var(--angle), transparent 80%, orange);
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        border-radius: 10px;
        padding: 4px;
        z-index: -1;
        animation: 3s spin linear infinite;
        box-sizing: content-box;
      }
      &::before {
        filter: blur(1.5rem);
        opacity: .5;
      }
    }
    &.rainbow {
      &::after, &::before {
        box-sizing: content-box;
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        background-image: conic-gradient(from var(--angle), red, orange, yellow, green, blue, indigo, violet, red);
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        border-radius: 10px;
        padding: 4px;
        z-index: -1;
        animation: 3s spin linear infinite;
      }
      &::before {
        filter: blur(1.5rem);
        opacity: .5;
      }
    }
  }

  @keyframes spin {
    from {
      --angle: 0deg;
    }
    to {
      --angle: 360deg;
    }
  }
</style>