<div class="loader">
  <div class="square2"style="--i: 0; --color: red;"></div>
  <div class="square2"style="--i: 1; --color: green;"></div>
  <div class="square2"style="--i: 2; --color: orange;"></div>
</div>

<style>
  .loader {
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .square2 {
    --delay-step: 0.2s;
    width: 15px;
    height: 15px;
    background-color: var(--color);
    animation: rotation 1.5s infinite;
    /* animation-delay: calc(var(--i) * var(--delay-step)); */

  }

  @keyframes rotation {
    from {
      transform: rotate(-45deg);
      /* background-color: white; */
    }
    to {
      transform: rotate(45deg);
      /* background-color: orange; */
    }
  }
</style>